.scoreboard {
  .main-layout {
    height: '100vh'
  }
  .ant-layout-content {
    padding: 50px 50px 0 50px;
  }
  .header {
    text-align: center;
    color: white;
    font-size: 20px;
  }
  .rank-board {
    background: white;
    padding: 24px;
    min-height: 500px;
    width: 700px;
    margin: 0 auto;
    max-height: 80vh;
    overflow: scroll;
    border-radius: 30px;
  }

  footer {
    text-align: center;
  }
}

